body {
  background-color: black;
}
p {
  color: black;
  font-size: 35px;
  font-weight: normal; /* normal, bold */
  font-style: normal; /* normal, italic */
  text-align: center; /* left, right, center, justify */
  text-decoration: none; /* none, underline, line-through */
  background-color: BurlyWood;
}

div {
  width: 300px;
  height: 100px;
  padding: 60px;   /* inside spacing */
  margin: 20px;    /* outside spacing */
  border: 5px solid black;
  text-align: center;
}

h1 {
	text-align:center;
	font-size:60px;

}

h2 {
	text-align:center;
	font-size:60px;
	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body{
	background-image: url("mai_enoden.png");
	background-size: cover;
}

.DivOne {
  background-color: FloralWhite;
  text-align: center;
  font-size: 70px
  width: 50%;
  margin: 0 auto;
  height: 40px;
}


em{
	font-size: 20px
}